
.main {
    overflow-y: hidden;
}

.container {
    scroll-snap-type: y proximity;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero {
    height: 100vh;
    scroll-snap-align: start;
}

* {
    cursor: none;
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 16px;
    z-index: 10000; 
    pointer-events: none;
    filter: blur(10px);
    background-color: #F3A738;
}



.codeHeader {
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 auto;
    letter-spacing: .05em;
    border-right: 0.1em solid #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    animation:
        typing 3s steps(22) forwards, 
        cursor 0.5s step-end infinite alternate;
}
@keyframes typing {
    from { width: 0%; }
    to { width: 24ch; }
}

@keyframes cursor {
    50% { border-color: transparent; }
}



.hero-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) { /* 'md:' in Tailwind refers to screen sizes 768px and larger */
    .hero-div {
        max-width: 768px; /* This value can be adjusted based on your design requirements */
    }
}



.icons {
    color: azure;
    height: 17px;
    margin-top: 1.5rem;
    margin-right: 1.2rem;
    
}

.icons:hover {
    color: #F3A738;
    position: relative;
    top: -1px;

}

.header4 {
    margin-top: 3%;
    font-size: 1.9rem;
    font-weight: 700;
    color: #F3A738;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 1px;
}

.about-me {
    display: flex;
    justify-content: center; 
    width: 100%;
}
  
.left-about-container {
    width: 50%;
    height: 100%;
    text-align: left;
    /* padding-left: 10%; */
    /* padding-right: 10%;  */
    /* margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%; */
    margin-right: 5%;
    overflow: hidden;
    /* justify-content: flex-start; */
    justify-content: right;
    width: 30%;
    height: 70%;

}


.intro {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5%;
    line-height: 1.4;
    text-align: left;
    color: azure;
}

.skill-container {
    height: 100%;
    width: 100%;
    text-align: left;
}

.skills-text {
    font-size: 1rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    margin-top: 5%;
    padding-right: 30px;
    text-align: left;
    color: #F3A738;
}

.skills-list {
    text-align: left;
    font-size: 1rem;
    line-height: 18px;
    font-weight: 500;
    color: #FFFFFF;
}


.profile-img {
    justify-content: left;
    height: 70%;
}

.header5 {
    font-size: 4.8rem;
    font-weight: 700;
    color: #F3A738;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 3.25rem;
    letter-spacing: 2px;
    text-align: center;
}


.role {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    color: azure;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
}

.company {
    font-size: 0.9rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    margin-bottom: -1%;
    line-height: 1.4;
    text-align: left;
    color: #F3A738;
}

.date {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: left;
    color: azure;
    margin-top: -0.5%;
    font-family: 'Source Code Pro', monospace;
}

.job-description {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1%;
    line-height: 1.4;
    text-align: left;
    color: azure;
}

.job-container {
    width: 82%;
    align-items: flex-start;
    padding: 0 10% 0 11%;
    position: absolute;
    top: 5%;
    
}


.timeline-line {
    position: absolute;
    left: calc(16% - 3px);
    top: 5%; 
    bottom: 0;
    width: 4px; 
    background-color: #FFFFFF; 
    transform-origin: top; 
}
  
.timeline {
    position: relative;
    max-width: 75%;
    margin: 0 auto;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 10;
}

.line {
    width: 50%;
    border: #F3A738 solid 2px;
    background-color: #F3A738;
    margin-bottom: 2.5%;
    margin-left: 2%;
}

.projectCard-container {
    width: 500px;
    background-color: #202145;
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 1.2rem; 
    margin-left: 1.2rem; 
    padding-bottom: 4%;
    overflow: hidden;
    justify-content: flex-start;
    font-family: 'Source Code Pro', monospace;
}

.projectCard-horizontal {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .projectCard-horizontal {
        flex-direction: column !important;

    }
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 300px; 
}


.project-img {
    width: 100%;
}

/* .image-container {
    position: relative;
    width: 100%;  
    height: 300px; 
} */

.projectCard-layout {
    width: 100%;
}

.project-header {
    margin-top: 2%;
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    text-align: left;
}

.project-desc {
    font-size: 0.8rem;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: -1%;
    width: 85%;
}


.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.form-header {
    font-size: 2.2rem;
    font-weight: 700;
    color: #F3A738;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.form-text {
    font-size: 0.8rem;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 3%;
}

.form-container1 {
    background-color: '#FFFFFF';
    opacity: 0.8;
    border-radius: 10px;
    overflow: hidden;
    justify-content: flex-start;
    height: 2rem;
    width: 100%;
}

.form-container2 {
    padding: 1rem 1rem;
    background-color: '#FFFFFF';
    opacity: 0.8;
    border-radius: 10px;
    overflow: hidden;
    justify-content: flex-start;
    height: 5rem;
    width: 100%;
}

.form-send-text{
    font-size: 0.8rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 450;
    color: #04052E;
    letter-spacing: 0.5px;
    text-align: left;
    position: relative;
    
}

.form-send-btn {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 400;
    background-color: #F3A738;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 1rem;
    padding: 0.4rem 1rem; 
    border-radius: 4px;
    border: none; 
    outline: none; 
    cursor: pointer; 
}

.form-send-btn:hover {
    background-color: #e38e03;
}

.contact-form {
    position: relative; 
    z-index: 10000; 
}
  
.w-full.h-full.absolute {
pointer-events: none;
}
  
.icons-container {
    padding-left: 1.5rem;
    /* display: flex;
    flex-direction: row;
    justify-content: stretch; */
}

.icons1 {
    color: #F3A738;
    font-size: 23px;
    margin-top: 17%;
    margin-right: 1rem;
    z-index: 10000;
}

.icons1:hover {
    color: #c2852c;
    position: relative;
}


.section-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding-top: 20px;
}
  

.contact-form-container {
    z-index: 10000; 
    position: relative; 
}

.globe-container {
    width: 60%;
    height: 60rem;
    z-index: 9999; 
    position: relative;

}

